@use 'sass:math';
// sass-lint:disable no-color-literals
// Admin only css

// Set the bold only iframe
[data-toolbar='bold_only'] .mce-edit-area iframe {
	min-height: 2rem;
	max-height: 5rem;
}

.acfe-flexible-layout-hidden .acf-fc-layout-handle {
	background: #c5c5c5;

	.acfe-layout-title-text {
		text-shadow: 0 0 3px #fff;
	}
}

.acf-actions.-hover {
	display: block !important;
}
