@use 'sass:math';
// sass-lint:disable single-line-per-selector
// Import a google font-face if needed
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Resets
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea, select, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}


// Base settings
// Import bower vendor libraries.
@import 'imports';

// Import breakpoint sass
@import 'breakpoint-sass/breakpoint';

// Import various partials
@import 'import-maps/variables';
@import 'import-maps/mixins';

body {
	font-family: $f-primary;
	color: $c-grey-dark;
	line-height: 1.5;
	padding: 10px;
}

h1 {
	margin-bottom: 30px;
}

h2 {
	margin-bottom: 30px;
}

h3 {
	margin-bottom: 30px;
}

h4, h5, h6 {
	margin-bottom: 30px;
}



blockquote,
p,
pre {
	margin-bottom: 30px; // Adjust margin accordingly to your design

	&:last-child {
		margin-bottom: 0;
	}
}

blockquote {
	padding: 30px;
	background: $c-grey-light;
}

ul, ol {
	margin-bottom: 30px; // Adjust margin accordingly to your design

	li {
		position: relative;
		padding-left: 15px; // Adjust padding accordingly to your design

		&:last-child {
			margin-bottom: 0;
		}
	}
}


.mce-content-body [data-mce-selected] {
	margin: 0;
	padding: 0;
	border-radius: 0;
	background: none;
	box-shadow: none;
}

strong {
	font-weight: 700; // Adjust font-weight accordingly to your font-face - just make sure it's bold!
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	margin: 30px 0; // Adjust margin accordingly to your design
	border: 0;
}

iframe {
	width: 100%;
	max-width: 1000px;
	margin: 30px 0;
}


