// Push
//
// Weight: 8
//
// This adds a standard amount of spacing, based on the <code>--spacer</code> variable set on <code>:root</code> in <code>_base.scss</code>
// <pre class="hljs"><code>@include push; // which will add a bottom margin of 12-30px depending on breakpoint
// @include push($amount: 2); // will add bottom margin of 24-60px
// @include push($type: 'padding'); // will add padding instead of margin, useful for BG colours
// @include push($dir: 'top'); // will add the margin to the top.
// @include push($dir: 'all'); // will add the margin in all directions.
// @include push($negative: true); // will do a negative margin
// @include push($amount: 3, $type: 'padding', $dir: 'top'); // as a combination will add 36-90px of top padding</code></pre>
//
// $amount - The multiplication of push amounts, defaults to 1
// $type - The type of push (either 'margin', 'padding' or 'dir;), defaults to margin. Dir acts differently in that it sets the TRBL
// $dir - The direction ('top', 'right', 'bottom', 'left', 'all', 'sides', 'ends'), defaults to bottom, TRBL must be used on dir type
// $negative - Change to a negative amount, true/false, defaults to false
//
// Styleguide Mixins.push

@mixin push($amount: 1, $type: 'margin', $dir: 'bottom', $negative: false) {
	// Set the distances, either positive or negative
	$distance: calc(#{$amount} * var(--spacer, #{$p-large}));
	@if $negative == true {
		$distance: calc(#{$amount} * var(--spacer, #{$p-large}) * -1);
	}
	//Add the space
	@if $type == 'dir' { // For directional
		#{$dir}: $distance;
	} @else if $dir == 'all' { // For all sides
		#{$type}: $distance;
	} @else if $dir == 'sides' { // For 'sides' (left/right)
		#{$type}-left:  $distance;
		#{$type}-right: $distance;
	} @else if $dir == 'ends' { // For 'ends' (top/bottom) 
		#{$type}-top:    $distance;
		#{$type}-bottom: $distance;
	} @else { // Otherwise for the specified side
		#{$type}-#{$dir}: $distance;
	}
}
