// sass-lint:disable no-important
// Note: the !importants are important here

// Stop animations for users with it turned off, sets the duration to 1 millisecond so the animations will work but instantly
// TODO if there are complex animations it may need per-animation work to ensure the correct bit is displayed
// TODO possible alternative to above, use css variables to set durations, so duration = 1 on :root, and and set 0 on root in the media query. then use calc, so:
/*```
:root {
	--duration: 1;
	@media (prefers-reduced-motion: reduce) {
		--duration: 1ms
	}
}
.selector {
	transition: all calc(var(--duration) * 1s) ease-in;
}
```*/
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration:  1ms !important;
		transition-duration: 1ms !important;
	}
}
