// This is the reset/normalise, and base stuff that isn't likely to be used in the WYSIWYG editor

// Normalize: using the scss version https://github.com/JohnAlbin/normalize-scss
@include normalize();

:root {
	--spacer: #{$p-small};
	@include breakpoint($bp-medium) {
		--spacer: #{$p-medium};
	}
	@include breakpoint($bp-xl) {
		--spacer: #{$p-large};
	}
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/*
	The structure will need to be [in terms of visible content]:
	- html
		- body
			- page-wrapper
				- main-header
				- content-wrapper
				- main-footer
			- /page-wrapper
		- /body
	- /html

 */
body {
	// Note: body styles like colours etc... in _base-editor.scss
	display: flex;
	flex-direction: column;
	min-width: 100%;
	height: 100%;
	min-height: 100vh;
	font-variant-numeric: lining-nums;
	-webkit-font-smoothing: antialiased;

	// Setting some ::before content to make breakpoints accessible in javascript
	// TODO update with this site's breakpoints
	&::before {
		content: 'bp-0';
		display: none; /* Prevent from displaying. */

		@include breakpoint($bp-small) {
			content: 'bp-small';
		}

		@include breakpoint($bp-medium) {
			content: 'bp-medium';
		}

		@include breakpoint($bp-large) {
			content: 'bp-large';
		}

		@include breakpoint($bp-xl) {
			content: 'bp-xl';
		}

		@include breakpoint($bp-xxl) {
			content: 'bp-xxl';
		}
	}
}

.page-wrapper {
	height: 100%;
	min-height: 100vh;
}

// Keep the footer at the bottom on short pages
// https://css-tricks.com/a-clever-sticky-footer-technique/
.main-footer {
	position: sticky;
	top: 100vh;
}

// Screen reader text
.hide,
.screen-reader-text,
.visually-hidden {
	@include hide;
}

// Bit hacky, if there are <style> tags in the <body> to sort responsive BG images this makes sure they don't mess up flexboxing
style {
	display: none;
}

// Leave a bit of top padding when scrolling to an id.
[id] {
	scroll-margin-top: 2ex;
}
