// This is the base stuff that can be used by the WYSIWYG editor styles
// Note: some flexbox min-height stuff below
body {
	// Note: body styles like for flexbox in _base.scss
	background: $c-white;
	color: $c-text;
	font-family: $f-primary;
}

h1 {
	margin: 0 0 1rem;
}

h2 {
	margin: 0 0 1rem;
}

h3 {
	margin: 0 0 1rem;
}

h4 {
	margin: 0 0 1rem;
}

h5 {
	margin: 0 0 1rem;
}

h6 {
	margin: 0 0 1rem;
}

p {
	margin: 0 0 1rem;
}

a {
	text-decoration: none;

	&[href^='tel'] {
		color: inherit;
		text-decoration: inherit;
	}
}

ul,
ol {
	margin: 0 0 1rem;

	ul,
	ol {
		margin-bottom: 0;
	}
}

pre {
	max-width: 100%;
	overflow: auto;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: top;

	// take out the max width when inside a <td>
	td & {
		max-width: none;
	}

	&.img-float-left,
	&.alignleft {
		float: left;
		margin: 0 1.5rem 1rem 0;
		display: block;
	}

	&.img-float-right,
	&.alignright {
		float: right;
		margin: 0 0 1rem 1.5rem;
		display: block;
	}

	&.aligncenter {
		margin: 0 auto 1rem;
		display: block;
	}
}

video {
	max-width: 100%;
	height: auto;
}

table {
	font-variant-numeric: tabular-nums;
}
