// Set all text inputs to inherit font styles
// As per http://adrianroselli.com/2019/09/under-engineered-text-boxen.html
#{$sel-text-inputs} {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}
