// sass-lint:disable no-important, no-color-literals, no-qualifying-elements
/*
	Some print base styles
 */
@include print {
	// Taken from HTML5 Boilerplate.
	// -----------------------------------------------------------------------------

	*,
	*::before,
	*::after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: ' (' attr(href) ')';
	}

	abbr[title]::after {
		content: ' (' attr(title) ')';
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^='#']::after,
	a[href^='javascript:']::after {
		content: '';
	}

	pre,
	blockquote {
		border: 1px solid $c-grey-dark;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h1,
	h2,
	h3 {
		page-break-after: avoid;
	}

}
