// Toggles
//
// Accessible css only toggles.<br>
// <b>Note:</b> accessible colours will need to be used<br>
// Based on http://adrianroselli.com/2019/03/under-engineered-toggles.html
//
// Markup:
// <form>
//   <fieldset class="toggles">
//     <legend>Toggles</legend>
//     <div class="toggle">
//       <input type="checkbox" name="default" id="default" class="toggle__input">
//       <label for="default" class="toggle__label">Unchecked default.</label>
//     </div>
//     <div class="toggle">
//       <input type="checkbox" name="checked" id="checked" checked class="toggle__input">
//       <label for="checked" class="toggle__label">Checked version.</label>
//     </div>
//     <div class="toggle toggle--flipped">
//       <input type="checkbox" name="default-flip" id="default-flip" class="toggle__input">
//       <label for="default-flip" class="toggle__label">Unchecked default. Flipped.</label>
//     </div>
//     <div class="toggle toggle--flipped">
//       <input type="checkbox" name="checked-flip" id="checked-flip" checked class="toggle__input">
//       <label for="checked-flip" class="toggle__label">Checked version. Flipped.</label>
//     </div>
//   </fieldset>
// </form>
//
// Styleguide Snippets.toggles

// Block: toggle
.toggle {
	margin: 1.5em 0;
	position: relative;
}

// Element: input
.toggle__input {
	// The checkbox is hidden
	@include hide;

	// On focus/hover change the colour...
	&:focus + .toggle__label,
	&:hover + .toggle__label {
		cursor: pointer;
		color: $c-brand-red;

		// ...add a focus ring/box shadow
		&::before {
			box-shadow: 0 0 .5em $c-brand-red-light;
		}

		// ...and add a little dot over the circle
		&::after {
			background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle cx="50" cy="50" r="50" fill="rgba(0,0,0,.25)"/%3E%3C/svg%3E');
			background-size: 30%;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	&:checked + .toggle__label {
		// Change the colours when checked
		&::before {
			background-color: $c-brand-red-dark;
			border-color: $c-brand-red-dark;
		}

		&::after {
			// Change the colours when checked and move the circle to the other side
			left: 1.5em;
			border-color: $c-brand-red-dark;
			color: $c-brand-red-dark;

			// Modifier: toggle--flipped change the position when flipped
			.toggle--flipped & {
				left: auto;
				right: 0;
			}
		}
	}
}

// Element: label
.toggle__label {
	// The label styles
	display: block;
	position: relative;
	padding: .5em;
	padding-left: 4em;
	max-width: calc(100% - 2em);

	// Modifier: toggle--flipped change the side of the padding
	.toggle--flipped & {
		padding-left: 0;
		padding-right: 4em;
	}

	&::before,
	&::after {
		// The circle and background are both psuedo elements
		@include block-pseudo-element(auto, 1.5em);
		position: absolute;
		transition: all .25s ease;

		// Modifier: toggle--flipped change the position when flipped
		.toggle--flipped & {
			left: auto;
			right: 0;
		}
	}

	// The background
	&::before {
		left: 0;
		top: .2em;
		width: 3em;
		border: .2em solid $c-grey-dark;
		background: $c-grey-dark;
		border-radius: 1.1em;
	}

	// The circle
	&::after {
		left: 0;
		top: .2em;
		background-color: $c-white;
		background-position: center center;
		border-radius: 50%;
		width: 1.5em;
		border: .15em solid $c-grey-dark;

		// Modifier: toggle--flipped change the position when flipped
		.toggle--flipped & {
			left: auto;
			right: 1.5em;
		}
	}
}
