/*
	Demo styles
 */

// Demo fonts
.sg--f-primary {
	font-family: $f-primary;
}

.sg--f-secondary {
	font-family: $f-secondary;
}

// Extenders button demo
.sg--button-reset-demo {
	@extend %button-reset;
}

// Extenders list demo
.sg--list-reset-demo {
	@extend %list-reset;
}
