// sass-lint:disable no-ids, no-color-literals, no-qualifying-elements, no-important, nesting-depth, no-mergeable-selectors
// ------------------------------------------------------------------------------
//  This is a duplicate of the KSS file, with some extra specificity to ensure
//  these styles get overriden. Not an ideal way to do it but good enough to
//  start with. Note: lots of linting ignored as it's a copy of 3rd party code
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
//   Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$kss-colors-background:      #fff;
$kss-colors-grey:            #ccc;
$kss-colors-grey-light:      #eee;

$kss-colors-foreground:      #444;
$kss-colors-heading:         #111;
$kss-colors-quotes:          #666;

$kss-colors-link:            #0485bc;
$kss-colors-link-visited:    $kss-colors-link;
$kss-colors-link-hover:      lighten($kss-colors-link, 20%);
$kss-colors-link-active:     darken($kss-colors-link, 20%);

$kss-font-body:              'Helvetica Neue', Helvetica, Arial, sans-serif;
$kss-font-code:              Menlo, 'Ubuntu Mono', 'Lucida Console', Consolas, 'Courier New', Courier, monospace;

$kss-font-size:              16px;
$kss-vertical-rhythm:        $kss-font-size * 1.5;

$kss-breakpoint:             769px;

// ------------------------------------------------------------------------------
// Wrap all of this builder's base HTML styling inside a .kss-style selector.
// ------------------------------------------------------------------------------

#kss-node .kss-style {
	color: $kss-colors-foreground;
	font-family: $kss-font-body;
	font-size: $kss-font-size;
	line-height: $kss-vertical-rhythm;

	a {
		color: $kss-colors-link;
		text-decoration: none;
		transition-property: color;
		transition-duration: .5s;

		&:visited {
			color: $kss-colors-link-visited;
		}

		&:hover,
		&:focus	 {
			color: $kss-colors-link-hover;
		}

		&:active {
			color: $kss-colors-link-active;
		}

		&:hover,
		&:active {
			outline: 0;
		}
	}

	p {
		margin: math.div($kss-vertical-rhythm, 2) 0 $kss-vertical-rhythm;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: $kss-vertical-rhythm 0 0;
		font-family: $kss-font-body;
		color: $kss-colors-heading;
		line-height: 1.15em;
	}

	h4,
	h5,
	h6 {
		font-weight: bold;
	}

	h1 { font-size: $kss-font-size * 2.5; }
	h2 { font-size: $kss-font-size * 2.25; }
	h3 { font-size: $kss-font-size * 2.125; }
	h4 { font-size: $kss-font-size * 2; }
	h5 { font-size: $kss-font-size * 1.875; }
	h6 { font-size: $kss-font-size * 1.75; }

	blockquote {
		color: $kss-colors-quotes;
		margin: 0;
		padding-left: $kss-vertical-rhythm;
		border-left: .5em mix($kss-colors-quotes, $kss-colors-background, 25%) solid;
	}

	hr {
		display: block;
		height: 2px;
		border: 0;
		border-top: 1px solid lighten($kss-colors-foreground, 60%);
		border-bottom: 1px solid darken($kss-colors-background, 10%);
		margin: $kss-vertical-rhythm 0;
		padding: 0;
	}

	pre,
	code,
	kbd,
	samp {
		font-family: $kss-font-code;
		color: mix($kss-colors-foreground, $kss-colors-heading, 50%);
		font-size: 1em;
	}

	pre {
		white-space: pre;
		overflow: scroll;
	}

	ins {
		color: $kss-colors-heading;
		background: #ff9;
		text-decoration: none;
	}

	mark {
		color: $kss-colors-heading;
		background: #ff0;
		font-weight: bold;
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup { top: -.5em; }
	sub { bottom: -.25em; }

	ul,
	ol {
		margin: $kss-vertical-rhythm 0;
		padding: 0 0 0 $kss-vertical-rhythm;
	}

	li p:last-child {
		margin: 0;
	}

	dd {
		margin: 0 0 0 $kss-vertical-rhythm;
	}

	img {
		max-width: 100%;
		border: 0;
		vertical-align: middle;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	td {
		vertical-align: top;
	}
}

// ------------------------------------------------------------------------------
// Layout and page background
// ------------------------------------------------------------------------------

body#kss-node {
	margin: 0;
	padding: 20px;
	background: #fff;

	&.kss-fullscreen-mode {
		.kss-sidebar,
		.kss-section:not(.is-fullscreen),
		.kss-github {
			display: none;
		}
	}

	@media screen and (min-width: $kss-breakpoint) {
		padding: 0;

		.kss-main,
		.kss-sidebar {
			float: left;
			margin-right: -100%;
			box-sizing: border-box;
		}
	}

	.kss-main {
		width: 100%;
		margin: 0 auto;

		@media screen and (min-width: $kss-breakpoint) {
			padding: 2rem;
			width: calc(100% - 17rem);
			margin-left: 17rem;
			max-width: 1360px;
		}
	}

	.kss-sidebar {
		border-bottom: 1px solid #ddd;

		@media screen and (min-width: $kss-breakpoint) {
			position: fixed;
			width: 17rem;
			height: 100%;
			overflow: auto;
			padding: 0 20px;
			border-bottom: 0;
			border-right: 1px solid $kss-colors-grey;
			background: $kss-colors-grey-light;
			box-shadow: none;
		}
	}
}

// ------------------------------------------------------------------------------
// Sidebar-area components
// ------------------------------------------------------------------------------

body#kss-node {

	.kss-doc-title {
		margin: 0;
		// This assumes the logo is a .svg file in the usual place and is rectangular
		width: 100%;
		height: 0;
		padding-bottom: 75px;
		// Might need to point somewhere else if it's a sprite-ed svg
		background: url('../images/logo.svg') no-repeat center center scroll;
		background-size: contain;
		text-indent: -9999px;

		@media screen and (min-width: $kss-breakpoint) {
			// might want to change the padding-bottom if a different shape
			padding-bottom: 75%;
		}
	}

	.kss-header,
	.kss-nav {
		@media screen and (min-width: $kss-breakpoint) {
			margin: 1em 0;
		}
	}

	.kss-nav__menu {
		margin-top:    math.div($kss-vertical-rhythm, 2);
		margin-bottom: math.div($kss-vertical-rhythm, 2);
		padding: 0;
		list-style-type: none;
	}

	.kss-nav__menu-item {
		display: inline-block;
		padding-right: $kss-vertical-rhythm;

		@media screen and (min-width: $kss-breakpoint) {
			display: list-item;
			padding-right: 0;
		}
	}

	.kss-nav__menu-link {
		position: relative;
		display: inline-block;

		&::before {
			@media screen and (min-width: $kss-breakpoint) {
				content: ' ';
				position: absolute;
				left: -20px;
				width: 0;
				height: 100%;
				background-color: rgba(#000, 0);
			}
		}

		&.is-in-viewport::before {
			background-color: #000;
			width: 5px;
			transition: background-color .4s, width .6s;
		}
	}

	.kss-nav__menu-child {
		display: none;

		@media screen and (min-width: $kss-breakpoint) {
			display: block;
			list-style-type: none;
			margin: 0;
			padding: 0;

			// @TODO: The ul is output even when there are no children. Fix this, so
			// we can put these :first-child and :last child styles back on the ul.
			li:first-child {
				margin-top: 10px;
				border-top: 1px solid $kss-colors-grey;
				padding: 10px 0 0;
			}

			li:last-child {
				margin-bottom: 10px;
				border-bottom: 1px solid $kss-colors-grey;
				padding: 0 0 10px;
			}
		}
	}

	.kss-nav__ref {
		color: #333;
		font-weight: bold;
		width: 4ch; // Wide enough to handle 8.88
		display: inline-block;
		margin-right: 1ch;
	}

	.kss-nav__ref-child {
		font-weight: normal;
	}
}

// ------------------------------------------------------------------------------
// Content-area components
// ------------------------------------------------------------------------------

body#kss-node {

	.kss-section {
		padding: 1px 0 24px;
		margin-bottom: 24px;
		border-bottom: 3px solid $kss-colors-grey;

		&:last-child {
			border: 0;
		}

		// 'fullscreen' styles copied from Mozilla's default stylesheet.
		&.is-fullscreen {
			position: fixed !important;
			top: 0 !important;
			left: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
			width: 100% !important;
			height: 100% !important;
			margin: 0 !important;
			min-width: 0 !important;
			max-width: none !important;
			min-height: 0 !important;
			max-height: none !important;
			box-sizing: border-box !important;
			object-fit: contain !important;
			transform: none !important;
			// Turn on scrolling if needed.
			overflow: auto !important;
			padding: 20px;
			border: 0;
		}
	}

	.kss-title {
		margin: 0;
		color: $kss-colors-foreground;

		&--level-1 {
			color: $kss-colors-heading;
		}
	}

	.is-fullscreen .kss-title {
		margin-top: 0;
	}

	.kss-title__ref {
		font-size: $kss-font-size;
		line-height: $kss-font-size;
		color: #666;
		flex-grow: 1;
		text-align: right;
		display: flex;
		flex-direction: row-reverse;
		padding: .8em 0;

		&::before {
			display: none;
		}
	}

	.kss-title__permalink {
		display: flex;
		flex-direction: row-reverse;
		text-decoration: none;
		padding-bottom: 12px;
		color: inherit;

		&:hover,
		&:focus,
		&:visited,
		&:active {
			color: inherit;

			@media screen and (min-width: $kss-breakpoint) {
				.kss-title__permalink-hash {
					display: inline;
					padding: 0 1ch;
				}
			}
		}
	}

	.kss-title__permalink-hash {
		display: none;
		color: $kss-colors-grey;
	}

	.kss-toolbar {
		margin: 6px 0 24px;
		display: inline-block;
		border: 1px solid $kss-colors-grey-light;
		background-color: #f9f9f9;
		border-right-color: #e0e0e0;
		border-bottom-color: #e0e0e0;
		line-height: 1;
		padding: 3px;

		a {
			box-sizing: content-box;
			display: inline-block;
			width: 16px;
			height: 16px;
			padding: 3px;
			vertical-align: top;
			// Tooltip wrapper styles:
			position: relative;
			overflow: visible;

			+ a {
				margin-left: 6px;
			}

			.kss-toolbar__icon-fill {
				fill: $kss-colors-grey;
			}

			svg.on {
				display: none;
			}

			&:focus,
			&:hover {
				border-color: #000;

				.kss-toolbar__icon-fill {
					fill: #000;
				}
			}
		}
	}

	.kss-toolbar__tooltip {
		position: absolute;
		z-index: 1;
		display: inline-block;
		bottom: 100%;
		left: -10px;
		margin-bottom: 5px;
		border: solid 1px #666;
		padding: 8px 10px 6px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
		white-space: nowrap;
		color: #000;
		background: #fff;
		cursor: help;
		opacity: 0;
		transition: opacity .25s;
		// Visually hidden
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		word-wrap: normal;

		// Solid grey triangle.
		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: -8px;
			left: 15px;
			width: 0;
			height: 0;
			border-width: 7px 5px 0;
			border-color: #666 transparent;
			border-style: solid;
		}

		// White triangle knock-out.
		&::after {
			bottom: -6px;
			border-top-color: #fff;
		}
	}

	a:focus,
	a:hover {
		> .kss-toolbar__tooltip {
			opacity: 1;
			// Visually hidden off
			clip: auto;
			height: auto;
			width: auto;
			overflow: visible;
		}
	}

	.is-fullscreen .kss-toolbar a[data-kss-fullscreen],
	&.kss-guides-mode .kss-toolbar a[data-kss-guides],
	&.kss-markup-mode .kss-toolbar a[data-kss-markup] {
		border-color: #666;
		background-color: #666;

		.kss-toolbar__icon-fill {
			fill: #fff;
		}

		svg.on {
			display: block;
		}

		svg.off {
			display: none;
		}
	}

	.kss-parameters {
		display: table;
		list-style-type: none;
		margin-top: 0;
		margin-left: 0;
		padding-left: 0;
	}

	.kss-parameters__title {
		font-weight: bold;
	}

	.kss-parameters__item {
		display: table-row;
	}

	.kss-parameters__name {
		display: table-cell;
		padding-right: 20px;
		white-space: nowrap;
	}

	.kss-parameters__description {
		display: table-cell;
	}

	.kss-parameters__default-value code {
		white-space: nowrap;
	}

	.kss-modifier__wrapper {
		border: 1px solid $kss-colors-grey;
		padding: 0 10px 10px;
	}

	.is-fullscreen .kss-modifier__wrapper {
		// Un-do padding on .kss-section.
		margin-left: -20px;
		margin-right: -20px;
		// Remove all padding on the wrapper
		padding-left: 0;
		padding-right: 0;
		border: 0;
	}

	.kss-modifier__heading {
		margin: 0 -10px 10px;
		padding: 10px;
		border-bottom: 1px solid $kss-colors-grey;
		background-color: $kss-colors-grey-light;
		font-weight: bold;
	}

	.is-fullscreen .kss-modifier__heading {
		margin: 0 20px 10px;
		border: 1px solid $kss-colors-grey;
	}

	.kss-modifier__default-name {
		font-weight: bold;
		margin-bottom: math.div($kss-vertical-rhythm, 2);
	}

	.is-fullscreen .kss-modifier__default-name {
		margin-left: 20px;
		margin-right: 20px;
	}

	.kss-modifier__name {
		float: left;
		padding-right: 10px;
		font-weight: bold;
	}

	.is-fullscreen .kss-modifier__name {
		margin-left: 20px;
	}

	.kss-modifier__description {
		margin-bottom: math.div($kss-vertical-rhythm, 2);
	}

	.is-fullscreen .kss-modifier__description {
		margin-right: 20px;
	}

	.kss-modifier__example {
		clear: left;
		border: 2px dashed transparent;
		position: relative; // Contain the example's absolute positioning.
		z-index: 0; // Establishes a local stacking context.
		margin: -2px -2px ($kss-vertical-rhythm - 2px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.kss-guides-mode .kss-modifier__example,
	&.kss-guides-mode .kss-modifier__example-footer {
		&::before,
		&::after {
			z-index: -1;
			box-sizing: border-box;
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			border: 2px solid #000;
		}
	}

	&.kss-guides-mode .kss-modifier__example {
		border-color: #000;

		&::before {
			top: -5px;
			left: -5px;
			border-top: 0;
			border-left: 0;
		}

		&::after {
			top: -5px;
			right: -5px;
			border-top: 0;
			border-right: 0;
		}
	}

	&.kss-guides-mode.kss-fullscreen-mode .kss-modifier__example {
		&::before {
			left: auto;
			right: 0;
		}

		&::after {
			right: auto;
			left: 0;
		}
	}

	.kss-modifier__example-footer {
		clear: both;
	}

	&.kss-guides-mode .kss-modifier__example-footer {
		&::before {
			bottom: -5px;
			left: -5px;
			border-bottom: 0;
			border-left: 0;
		}

		&::after {
			bottom: -5px;
			right: -5px;
			border-right: 0;
			border-bottom: 0;
		}
	}

	&.kss-guides-mode.kss-fullscreen-mode .kss-modifier__example-footer {
		&::before {
			left: auto;
			right: 0;
		}

		&::after {
			right: auto;
			left: 0;
		}
	}

	.kss-markup {
		margin: $kss-vertical-rhythm 0;
		border: 1px solid $kss-colors-grey;

		&[open] summary {
			border-bottom: 1px solid $kss-colors-grey;
		}

		summary {
			padding-left: 10px;
		}

		pre {
			margin: 0;
		}
	}

	.kss-colors {
		list-style: none;
		padding: 0;
		margin: 0 -.5em;
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		flex-wrap: wrap;

		> * {
			flex: 0 0 auto;
			padding: 0 .5em;
			margin-bottom: 1em;
			width: 16em;
		}

		.kss-color {
			height: 100%;
		}
	}

	.kss-color {
		background: $kss-colors-background;
		border: 1px solid $kss-colors-grey;
		margin: 0;
		padding: 0;

		&-figure {
			height: 3em;
		}

		&-caption {
			padding: .5em;
			border-top: 1px solid $kss-colors-grey;
		}

		&-name {
			display: block;
			font-weight: bold;
			color: $kss-colors-foreground;
		}

		&-code {
			display: block;
			color: $kss-colors-quotes;
		}

		&-desc {
			font-size: .875em;
		}
	}

	.kss-source {
		font-size: 12px;
		text-align: right;
		padding-top: 12px;
		margin-bottom: -12px;

		code {
			background: rgba(33, 33, 33, .15);
			padding: 1px 2px;

			&::before {
				// This assumes the layout of the files will always be the same
				content: '/src/sass/';
			}
		}
	}

	.kss-github {
		display: none;
	}

	pre.hljs code {
		color: inherit;
	}

	@import '../../../node_modules/highlight.js/styles/vs2015';
}
