// sass-lint:disable no-ids
$sg-code: rgba(33, 33, 33, .15);

#kss-node {
	// Homepage [README text]
	.kss-section--depth-0 {
		max-width: 120ch; // Max width to keep line lengths readable

		h1 {
			font-size: 2.5em;
		}

		h2 {
			font-size: 1.666em;
			margin-top: 24px;
			border-top: 3px solid $c-grey-light;
			padding-top: 21px;
		}

		h3 {
			font-size: 1.333em;
		}

		ul ul {
			margin: 0;
		}

		code {
			background: $sg-code;
			padding: 0 .5ch;
		}
	}

	// Code styles
	.inline-code {
		padding: 0 .5ex;
	}

}
