// Utility colours
//
// Weight: 1
//
// Such as black, white & greys.
//
// Colors:
// $c-black: #000000 - Black
// $c-white: #ffffff - White
// $c-utility-red: #f04141 - Utility: red
// $c-utility-green: #398f14 - Utility: green
// $c-utility-orange: #ffa500 - Utility: orange
// $c-utility-yellow: #f7e700 - Utility: yellow
// $c-utility-rooster: #f04141 - Utility: Rooster
// $c-grey-light: #cccccc - Light grey
// $c-grey-dark: #3c3c3b - Dark grey, also default text colour $c-text
// $c-bg-td: #cfebeb - Table alternate row background
//
// Styleguide Variables.Utility-Colours

// Black & white
$c-black: #000;
$c-white: #fff;

// Utility
$c-utility-red: #f04141;
$c-utility-green: #398f14;
$c-utility-orange: #ffa500;
$c-utility-yellow: #f7e700;
$c-utility-rooster: #f04141;

// Greys
$c-grey-light: #ccc;
$c-grey-dark: #3c3c3b;

// Backgrounds
$c-bg-td: #cfebeb;

// Brand colours
//
// Weight: 2
//
// On brand colours, these get added to an array so they can be looped with modifiers if needed. Always in the format <code>$c-brand-[name]-[modifier]</code><br>
// **Note:** the example red uses hsl to demonstrate the ease of doing dark/light modiferers of brand colours when the hue stays the same but the saturation/lightness changes
//
// Colors:
// $c-brand-red: hsl(360, 55%, 48%) - Red
// $c-brand-red-light: hsl(360, 65%, 58%) - Light Red
// $c-brand-red-dark: hsl(360, 45%, 38%) - Dark Red
//
// Styleguide Variables.Brand-Colours

// TODO replace with actual colours
$c-brand-red:       hsl(360, 55%, 48%);
$c-brand-red-light: hsl(360, 65%, 58%);
$c-brand-red-dark:  hsl(360, 45%, 38%);

// sass-lint:disable no-color-keywords
// Note: brand colours go in this array as well, which is useful for for loops etc... The linter needs disabling in this block as the array keys are likely to match colour keywords
$c-brand-array: (
	red: $c-brand-red,
	red-light: $c-brand-red-light,
	red-dark: $c-brand-red-dark,
);
// sass-lint:enable no-color-keywords

// Other colour settings
// Documement if needed, but will probably be covered above. Usually setting a clearer variable than just the colour name

// Text
$c-text: $c-grey-dark;
