/*
 * Extenders
 */
// Clearfix
//
// The classic micro-clearfix using an ::after<br>
// <pre class='hljs'>@extend %clearfix;</pre>
//
// Styleguide Extenders.clearfix
%clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

// List reset
//
// Take out the default ul/ol styles<br>
// <pre class='hljs'><code>@extend %list-reset;</code></pre>
//
// Markup:
// <ul><li>Normal List</li><li>Normal List</li><li>Normal List</li></ul>
// <ul class='sg--list-reset-demo'><li>Reset List</li><li>Reset List</li><li>Reset List</li></ul>
//
// Styleguide Extenders.list-reset
%list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Button reset
//
// Reset all the default button elements styles<br>
// <pre class='hljs'><code>@extend %button-reset;</code></pre>
//
// Markup:
// <button>Normal Button</button>
// <button class='sg--button-reset-demo'>Reset Button</button>
//
// Styleguide Extenders.button-reset
%button-reset {
	background: none;
	border: 0;
	border-radius: 0;
	color: inherit;
	font: inherit; // Can cause issues when extending other fonts
	line-height: normal;
	overflow: visible;
	padding: 0;
	position: relative;
	user-select: none;
	cursor: pointer;
}
