// Font Stacks
//
// Weight: 3
//
// Markup:
// <h1 class='sg--f-secondary'>$f-secondary: 'Comic Sans MS', Georgia, 'Times New Roman', serif; <strong>Bold</strong> <em>Italic</em> <strong><em>Bold Italic</em></strong></h1>
// <p class='sg--f-primary'>$f-primary: 'Comic Sans MS', Arial, sans-serif; <strong>Bold</strong> <em>Italic</em> <strong><em>Bold Italic</em></strong></p>
//
// Styleguide Variables.Font-stacks

// [TODO] replace comic sans once font is working correctly.
$f-primary: 'Comic Sans MS', Arial, sans-serif;
$f-secondary: 'Comic Sans MS', Georgia, 'Times New Roman', serif;
