// sass-lint:disable no-important

// Hide
//
// The HTML5 Boilerplate visually hidden &ndash; with a couple of tweaks &ndash; hides things in an accessible way. Doesn't take any arguments
// <pre class="hljs"><code>@include hide;</code></pre>
//
// Weight: 1
//
// Styleguide Mixins.hide
@mixin hide {
	position: absolute !important;
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	width: 1px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
}

// Unhide
//
// This undoes the <code>hide</code> function. There's an important on the position static, so if the unhidden item is being positioned in another way that will need an `!important`
// <pre class="hljs"><code>@include unhide;</code></pre>
//
// Weight: 2
//
// Styleguide Mixins.unhide
@mixin unhide($pos: static) {
	// Reset the position, can be changed if it does need to be absolute
	position: $pos !important;
	border: 0;
	clip: auto !important;
	width: auto;
	margin: inherit;
	padding: inherit;
	overflow: visible;
	white-space: normal;
}
