// Link Colours
//
// This is the Compass link colours mixin. "Set all the colors for a link with one mixin call"
// <pre class="hljs"><code>@include link-colors($normal, $hover, $active, $visited, $focus);</code></pre>
//
// $normal - The default colour
// $hover - The hover colour
// $active - The active colour
// $visited - The visited colour
// $focus - The focus colour
//
// Weight: 7
//
// Styleguide Mixins.link-colors
@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
	color: $normal;
	@if $visited {
		&:visited {
			color: $visited;
		}
	}
	@if $focus {
		&:focus {
			color: $focus;
		}
	}
	@if $hover {
		&:hover {
			color: $hover;
		}
	}
	@if $active {
		&:active {
			color: $active;
		}
	}
}
