// A couple of mixins that make working with pseudo elements easier

// Block pseudo element
//
// Weight: 3
//
// This adds content and display block to a pseudo element, used by the ng-sprite.
// <pre class='hljs'><code>@include block-pseudo-element($width, $height);</code></pre>
//
// $width - The width, defaults to auto
// $height - The width, defaults to auto
//
// Styleguide Mixins.block-pseudo-element

@mixin block-pseudo-element($width: auto, $height: auto) {
	content: '';
	display: block;
	width: $width;
	height: $height;
}

// NG Sprite
//
// Weight: 4
//
// This is the [Nicolas Gallagher style sprite](http://nicolasgallagher.com/css-background-image-hacks/). This can be applied to :before, :after or both (so an item can have 2 background images).<br>
// It assumes absolute position on the pseudo element as the is the most likely method, floating could also be used but would need to be manually coded. The containing element will need to be position: relative or absolute;<br>
// If you want to position from something other than top left set them as auto and manually add the right and/or bottom
// <pre class='hljs'><code>selector {
//   position: relative;
//   &::before {
//     @include ng-sprite($width, $height, $top, $left, $image, $image-left, $image-top, $zindex:0);
//   }
// }</code></pre>
//
// $width - Width of the element, normally pixels, defaults to auto
// $height - Height of the elements, normally pixels, defaults to auto
// $top - Distance from top
// $left - Distance from left
// $image - Image url in quotes, relative to the .css file '../images/filename.png'
// $image-left - background-position-x
// $image-top - background-position-y
// $zindex - Defaults to 0
//
// Styleguide Mixins.ng-sprite

@mixin ng-sprite($width, $height, $top, $left, $image, $image-left, $image-top, $zindex: 0) {
	@include block-pseudo-element($width, $height);
	position: absolute;
	top: $top;
	left: $left;
	background: transparent url($image) no-repeat $image-left $image-top scroll;
	z-index: $zindex;
}
