// Link Button
//
// Link button style, to demo the styleguide, don't use in production.
//
// Markup:
// <a href="#" class="button {{modifier_class}}">Button Element</a>
//
// :hover - When user hovers over button.
// :focus - When button is focused.
// .button--small - A small button.
// .button--large - A large button.
//
// Styleguide Snippets.link-button

.button {
	padding: 1em;
	display: inline-block;
	font-size: 1rem;
	color: $c-brand-red;
	background-color: $c-white;
	border: 1px solid $c-brand-red;
	border-radius: 4px;

	// Hover
	&:hover {
		background-color: $c-grey-light;
	}

	// Focus
	&:focus {
		background-color: $c-grey-light;
		border-color: $c-grey-dark;
	}

	// Modifier: --small button--small
	&--small {
		font-size: .8rem;
	}

	// Modifier: --large button--large
	&--large {
		font-size: 1.8rem;
		padding: 1em 2em;
	}
}
