// Cookie Message
//
// A no-jquery cookie popup. Based on https://itsgus.dev/2021/vanilla-js-gdpr-cookie-banner-no-jquery.
//
// Markup:
// <section id="cookies-banner" class="cookies-banner">
//   <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
//   <button id="cookie-consent" class="cookies-banner__button">Accept Cookies</button>
//   <a href="#cookies" class="cookies-banner__button">Read more</a>
// </section>
//
// Styleguide Vital.cookie-message

.cookies-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	z-index: $z-over-all;
	background: $c-utility-red;
	color: $c-white;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;

	div {
		margin: 0 1rem;
	}

	&.hidden,
	.no-js & {
		display: none;
	}
}

.cookies-banner__button {
	@extend %button-reset;
	color: inherit;
	border: 1px solid;
	padding: 7px 16px 9px;
	margin: -.25rem 1rem;
}
